
# **My *Python* _Library_**
***

# **Básicos**

In [ ]:
pip install --user -r requirements.txt

## **Liberías comunes**

In [ ]:
#Imprimir con salto de línea
print ("1 \n2")
#Instalar en terminal
pip install pandas
#You can import the new package and add an alias for it :
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
import statsmodels.api as sm
from scipy import stats
from scipy.stats import pearsonr
import sys
!{sys.executable} -m pip install scipy
from scipy import stats
import math
import base64
import datetime
import base64
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from shapely.geometry import Point, shape

import c1applet.histdens as histdens
hdapp = histdens.app

import folium  #needed for interactive map
from folium.plugins import HeatMap
%matplotlib inline
sns.set()

# Required for basic python plotting functionality
import matplotlib.pyplot as plt

# Advanced plotting functionality with seaborn
import seaborn as sns

# seaborn is an extremely useful data visualization library specifically designed for statistical figures.

## **Información básica**

In [ ]:
#Leer un archivo csv 
df = pd.read_csv("data/df.csv", sep=",", nrows=1000)
df1 = pd.read_csv("data/df1.csv")
df2 = pd.read_csv("data/df.csv")

In [ ]:
#Leer un archivo json
datajson = pd.read_json("data/data.json", orient="columns")
datajson.head()

datajson = []
with open('datajson.json', encoding='utf-8')  as f:
    for row in f.readlines()[:1000]:
        checkins.append(json.loads(row))

In [ ]:
#jston to dataframe
split_columns = datajson["categoricalvariable"].str.split(pat=",", expand=True)
split_columns.head()

### **Exportar a csv en formato utf-8**

In [ ]:
#Exportar la info a csv
df.to_csv("data.csv", encoding="utf-8")

UTF-8 (8-bit Unicode Transformation Format) es un formato de codificación de caracteres Unicode e ISO 10646 que utiliza símbolos de longitud variable. UTF-8 fue creado por Robert C. Pike y Kenneth L. Thompson. Está definido como estándar por la <RFC 3629> de la Internet Engineering Task Force (IETF).1​ Actualmente es una de las tres posibilidades de codificación reconocidas por Unicode y lenguajes web, o cuatro en ISO 10646.

Sus características principales son:

Es capaz de representar cualquier carácter Unicode.
Usa símbolos de longitud variable (de 1 a 4 bytes por carácter Unicode).
Incluye la especificación US-ASCII de 7 bits, por lo que cualquier mensaje ASCII se representa sin cambios.
Incluye sincronía. Es posible determinar el inicio de cada símbolo sin reiniciar la lectura desde el principio de la comunicación.
No superposición. Los conjuntos de valores que puede tomar cada byte de un carácter multibyte, son disjuntos, por lo que no es posible confundirlos entre sí.

### **Fijar una columna como index**

In [ ]:
#It is usually a good idea to set one of the columns as the index, instead of using the default:

dfindex= df.set_index('indexvariable') # In this context, Date is the best candidate to be the index

## **Visualización inicial del archivo**

In [ ]:
# Take a look at the columns
df.columns

NameError: ignored

In [ ]:
#Ver la parte inicial del archivo 
df.head()

In [ ]:
#Ver la parte final del archivo 
df.tail()

In [ ]:
#Saber el tamaño del dataframe
df.shape
#contar solo las filas
count_row = df.shape[0]  # gives number of row count 
#contar solo las columnas
count_col = df.shape[1]  # gives number of col count

###**Ver si hay datos perdidos**

In [ ]:
df.isna().any()

In [ ]:
#Cuántos son?
df["Value"].isna().value_counts()

###**Ordenar datos por una columna**

In [ ]:
df = df.sort_values(by="variable", ascending=False)
# To Z-A sort, put ascending=False inside the parenthesis

Para sacar solo los 5 primeros

In [ ]:
df[(df["justforthiscategoricalvariable"] == category)].sort_values(by="continuosvariable", ascending=False).head(5)

##**Tipo de variables**

In [ ]:
#Ver los tipos de variables que contiene el archivo
df.info()

In [ ]:
#To inspect the data types of a DataFrame
df.dtypes

In [ ]:
variablefloat = float(variable)

In [ ]:
# Let's see the codes assigned to the categories
df['varible'].cat.codes.unique()
#array([ 0,  1, -1], dtype=int8)
""" 
You can see there are 2 codes here: 0 and 1, which correspond to the two values ['A'] and ['B']. (The number -1 represents the NaN values.) In order to interpolate the values, we need to call the .interpolate() method after having replaced the -1s with actual null values (np.nans):
"""
# The below code replaces the value -1 with NaN
user_cat_codes = df['userCategory'].cat.codes.replace(-1, np.nan)

# We now call the interpolate function that actually fills the NaN values with either a 0 or 1
user_cat_codes = user_cat_codes.interpolate()
user_cat_codes
#Now we convert the codes to the category data type:
user_cat_codes = user_cat_codes.astype(int).astype('category')

###**Convertir el tipo de dato en una variable**

In [ ]:
#convert Value to the float64 data type
df["Variable"] = df["Variable"].astype(float)

###**Visualizar el data frame con opciones especiales**

In [ ]:
#Cuando me muestre una tabla, hágalo dejándome ver mínimo 100 columnas.
pd.options.display.max_columns = 100

#**Preparación de las bases**

##**Eliminar datos**

###**Eliminar una categoría**

In [ ]:
#remove a variable column:
df = df.drop(columns=["Varaible"])

NameError: ignored

In [ ]:
#O 
dropme = df["Varaible"]=="Category" # We filter the rows with the selected Category 
df = df.drop(df[dropme].index)
df.head()

###**Eliminar duplicados**

In [ ]:
#remove duplicates
df = df.drop_duplicates()

In [ ]:
#remove duplicates by a variable
df["variable"].drop_duplicates()

###**Eliminar datos perdidos nan**

In [ ]:
#remove all rows in which at least one entry is missing:
df = df.dropna()

##**Limpiar datos**

###**Cambiar nombre de columnas**

In [ ]:
#Rename the columns 
columns_dict = {"Rental Id":"rental_id",
                "Duration":"duration",
                "Bike Id":"bike_id",
                "End Date":"end_date",
                "EndStation Id":"end_station_id",
                "Start Date":"start_date",
                "StartStation Id":"start_station_id",
                "userCategory":"user_category"
               }
df = df.rename(columns=columns_dict)
df.columns

### **Llenar vacíos**

####**Fill with nan or 0**

In [ ]:
#Replace the missing values in variable with the "Not Available" string.
df["variable"] = df["variable"].fillna('Not available')
df['variable'].fillna(np.nan, inplace=True)

df = df.fillna(0)

####**Fill numeric values with a regression analysis**

The interpolate() method uses linear interpolation, which is a mathematical method for filling in unknown points based on building a linear regression model on the non-missing points, as it preserves aspects of the distribution of the data, which can be very important for certain analyses.

In [ ]:
#First Convert to a category type
df['userCategory'] = df['userCategory'].astype('category')
# see what the data looks like
df['userCategory'].cat.categories
# Let's see the codes assigned to the categories
df['userCategory'].cat.codes.unique()
#array([ 0,  1, -1], dtype=int8)

```python
Index(['['A']', '['B']'], dtype='object')
array([ 0,  1, -1], dtype=int8)
```

You can see there are 2 codes here: 0 and 1, which correspond to the two values ['A'] and ['B']. (The number -1 represents the NaN values.) In order to interpolate the values, we need to call the .interpolate() method after having replaced the -1s with actual null values (np.nans)

In [ ]:
# The below code replaces the value -1 with NaN
user_cat_codes = df['userCategory'].cat.codes.replace(-1, np.nan)

# We now call the interpolate function that actually fills the NaN values with either a 0 or 1
user_cat_codes = user_cat_codes.interpolate()
user_cat_codes

#Now we convert the codes to the category data type
user_cat_codes = user_cat_codes.astype(int).astype('category')

#Finally, we replace back the 0s and 1s with the actual category names. 
#For this, we can use the **`.cat.rename_categories()`** method:
user_cat_codes = user_cat_codes.cat.rename_categories(df['userCategory'].cat.categories)
df['userCategory'] = user_cat_codes
df['userCategory']

####**Fill categorycal variables**

We will do so by using the [IterativeImputer](https://scikit-learn.org/stable/modules/impute.html#multivariate-feature-imputation) class of `scikit-learn` to fill the missing values in these columns. `IterativeImputer` fills one column after another by building models for each column:

In [ ]:
imputer = IterativeImputer()

cols_to_impute = ['variable1', 'variable2']

imputed_df = pd.DataFrame(imputer.fit_transform(reviews[cols_to_impute]))
imputed_df
imputed_df.columns = cols_to_impute

reviews[['stars']] = imputed_df['stars'] # could be reviews[cols_to_impute] = imputed_df[cols_to_impute]
reviews.isnull().any()

####**Una categoría fusionada, pasar a filas independientes**

 La ubicación era el INDEX
 
 De

ubicación | cat | data1 
--- | --- | --- 
1 | blue | 63.48  
  | green | 62.93  
2 | aqua | 61.43  
  | blue | 61.34 

A

ubicación | cat | data1 
--- | --- | --- 
1 | blue | 63.48  
 1 | green | 62.93  
2 | aqua | 61.43  
2 | blue | 61.34

In [ ]:
df = df.reset_index()
#For more case.pandas methods Week1

##**Datos erróneos VS Datos perdidos**

Dealing with erroneous values
Of course, missing values are not the only problem in datasets – erroneous values are too! So we should look a the other columns with non-null values to see if they could have errors that we can correct. Here, the other columns are business_id, review_id, user_id, and text. However, IDs are arbitrary identifiers which we have no way of ascertaining if they are correct or not, so we have to take the values we are given for granted.

text is the text of the user review, but the objective of any attempts to clean this is unclear - what metrics would we use to determine if a review text is "clean" or not? The answer to this question is not obvious at all without much more precise direction from the client about what they intend to use this text for, so we will leave it alone for now.

By basic interpretation of what latitude and longitude means, we know that the latitude values should be in the range [-90, 90] and longitude should be in the range [-180, 180]. So we should check that all data points have latitude and longitude values that lie within these ranges. When they are outside the range, we should replace them with acceptable nulls:

In [ ]:
"""
The latitude values should be in the range [-90, 90] 
and longitude should be in the range [-180, 180]. 
So we should check that all data points have latitude 
and longitude values that lie within these ranges.

"""
df.loc[(businesses['latitude'] < -90) | (df['latitude'] > 90), 'latitude'] = np.nan
df.loc[(businesses['longitude'] < -180) | (df['longitude'] > 180), 'longitude'] = np.nan

###**Separar datos en varias columnas por un carácter**

In [ ]:
split_columns = df["variable,variable"].str.split(pat=",", expand=True)

you could use my_string.str.split(pat=",", n=1, expand=True) to split only at the first comma and get this result.

In [ ]:
split_columns = df["variable,variable"].str.split(pat=",", n=1, expand=True)
split_columns.head()

###**Limpieza compleja**

####**Fechas**

#####**Poner formato fecha**

Use the `!pd.to_datetime()` function with the format="%Y%m%d" argument to process the dates

In [ ]:
df["variabledate"] = pd.to_datetime(df["variabledate"], format="%Y%m%d")

In [ ]:
#convert this index to a date ( dtype='object' to  dtype='datetime64[ns])
df.index = pd.to_datetime(df.index)

#To convert this kind of data into a datetime column, we use the pd.to_datetime() 
#function like this (this function automatically detects the format
df["VariableDate"] = pd.to_datetime(df["VariableDate"])

#####**Sacar meses**

Si se tiene el formto fecha 
If you want to take the first 4 characters of a string, you can slice it with [0:4].

Si no se tiene el formato fecha, entonces we had first to convert YYYYMM into a string column because it was originally stored as an integer column

In [ ]:
#sobre la misma columna quita los 4 pirmerios númmeros
df["YYYYMM"] = df["YYYYMM"].astype(str)
df["YYYY"] = df["YYYYMM"].str[0:4] # Notice that we wrote .str before slicing
df.head()

In [ ]:
#o crea una nueva columna sacando los últimos dos
df["MM"] = energy_df["YYYYMM"].str[-2:]

Here we used the dt.hour and dt.weekday attributes. These only work with columns that are of type datetime. These basically acess the hour and the weekday of the datetime. (Observe that you have to add dt before you call these attributes.) Other attributes include dt.tz (timezone), dt.year, dt.month, dt.day, dt.minute, and dt.second, amongst others.

For more go to https://pandas.pydata.org/docs/reference/series.html#datetimelike-properties

####**Interpolación de datos**

**Interpolating missing values**

The interpolate() method uses linear interpolation, which is a mathematical method for filling in unknown points based on building a linear regression model on the non-missing points.

But userCategory is a string - how can we apply a mathematical model to a string? Luckily, userCategory can only take on two values, so we can convert it to a category type with .astype() and then run the interpolation:

In [ ]:
# Convert to a category type
df['userCategory'] = df['userCategory'].astype('category')

In [ ]:
#After converting userCategory to be a category column, let's see what the data looks like:
# The categories
df['userCategory'].cat.categories

In [ ]:
# Let's see the codes assigned to the categories
df['userCategory'].cat.codes.unique()

You can see there are 2 codes here: 0 and 1, which correspond to the two values ['A'] and ['B']. (The number -1 represents the NaN values.) In order to interpolate the values, we need to call the .interpolate() method after having replaced the -1s with actual null values (np.nans):

In [ ]:
# The below code replaces the value -1 with NaN
user_cat_codes = df['userCategory'].cat.codes.replace(-1, np.nan)

# We now call the interpolate function that actually fills the NaN values with either a 0 or 1
user_cat_codes = user_cat_codes.interpolate()
user_cat_codes

In [ ]:
#Now we convert the codes to the category data type:
user_cat_codes = user_cat_codes.astype(int).astype('category')

Finally, we replace back the 0s and 1s with the actual category names. For this, we can use the .cat.rename_categories() method:

In [ ]:
user_cat_codes = user_cat_codes.cat.rename_categories(df['userCategory'].cat.categories)
df['userCategory'] = user_cat_codes
df['userCategory']

In [ ]:
"""
Since the client has indicated they will likely
 be using the cleaned data for numerous analyses
  later on, removing rows with missing values or
   even writing in meaningless filler values will
   not work. So we need to figure out a sensible
    interpolation method.
Exercise 1: Given what we know about the data so 
far, describe a sensible interpolation method that we can use.
"""

nan_rows = reviews[reviews['date'].isnull()]
date_format = '%Y-%m-%d %H:%M:%S'

for index, row in nan_rows.iterrows():
    previous_date = reviews.iloc[index - 1]['date']
    if isinstance(previous_date, str):
        previous_date = datetime.datetime.strptime(previous_date, date_format)
    next_date = None
    next_date_count = 1
    while next_date is None:
        try:
            next_date = datetime.datetime.strptime(reviews.iloc[index + next_date_count]['date'], date_format)
        except Exception:
            next_date_count += 1
    difference = (next_date - previous_date).seconds
    current_date = previous_date + datetime.timedelta(seconds=difference/(next_date_count + 1))
    reviews.loc[index, 'date'] = current_date

##**Modificar datos**

###**Estandarizar los carácteres**

In [ ]:
#Hacer todas las letras minúsculas
df['commodity_transaction'].str.lower()

In [ ]:
#Hacer todas las letras minúsculas
df['commodity_transaction'].str.upper()

###**Variable numérica a categórica**

In [ ]:
#Crear las categorías
def assign_label(value):
    """Assign labels to according to their value
    """
    if value < 500:
        label = "Less than 500"
    elif value < 5000:
        label = "Between 500 and 5,000"
    elif value < 50000:
        label = "Between 5,000 and 50,000"
    else:
        label = "More than 50,000"
    return label

In [ ]:
#Aplicar las categorías a la variable objetivo
df["numericvarible"].apply(assign_label)

###**Replace categories by a dictionary**

In [ ]:
#reemplace un carácter específico por otro ("este","por este")
df['variable'] = df['variable'].str.lower().str.replace("–", "-")

In [ ]:
#make a replacement dictionary and rename our categories with this code
rename_dict = {"Priority low":"low",
               "priority_high":"high",
               "priority Medium":"medium",
               "priority_medium":"medium",
               "priority low":"low"
              }
df["tag"] = df["tag"].replace(rename_dict).astype("category")
df["tag"]

###**Reemplazar con un diccionario**

In [ ]:
#We can make a replacement dictionary and rename our categories with this code:
rename_dict = {"Priority low":"low",
               "priority_high":"high",
               "priority Medium":"medium",
               "priority_medium":"medium",
               "priority low":"low"
              }
df["tag"] = df["tag"].replace(rename_dict).astype("category")
df["tag"]

###**Concatenar para crear valores únicos**

In [ ]:
# Let's generate an id for each trip, in order to uniquely identify each trip. 
# The trip id can be a combination of start date, end date, and bike id
df['trip_id'] = df.apply(lambda x: ':'.join([str(x['Start Date']), str(x['End Date']), str(x['Bike Id'])]), axis=1)

# In order for the id to look actually like a unique identifier, let's use base64 encode to convert the id to a base64 string
# The command converts the newly created id column into bytes, and then gets the base64 encoded value for the same. 
# Then the base64 value is converted to string again and then stored in the trip_id column.
df['trip_id'] = df['trip_id'].apply(lambda x: base64.b64encode(x.encode()).decode())

df['trip_id'].unique()

###**Redondear datos**

In [ ]:
#To round a float number up, you can use the .ceil() function from the math module.

##**Aplicar una función a varias columnas o filas**

###**Dividir la información para conocer los bloques de x cantidad**

How many 30-minute blocks were used up by the rider in each trip (we round up the result with math.ceil() since a fraction of a block counts as an entire block):

In [ ]:
df['time_blocks'] = df["duration_min"].apply(lambda x: math.ceil(x/30))
df.head()

###**Sumar columnas**

In [ ]:
#Dime cuanto suman estas columnas
df[["v1", "v2", "v3", "v4", "v5"]].apply(sum, axis="index")

The apply() method has a DataFrame method counterpart that allows you to not only call functions on Series, but on entire DataFrames, either column-wise or row-wise. The usage is very similar:

One option
my_dataframe.apply(my_custom_function, axis="index")
Another option
my_dataframe.apply(my_custom_function, axis="columns")
The axis parameter, which can take either the value index or the value columns, is what tells pandas to run my_custom_function column-by-column or row-by-row.

Write code that returns one number per column in the df_countries DataFrame (but only include the hydro, wind, solar, geothermal, and tide columns). This number should be the sum of all the quantities in each column that are greater than 1,000 units.

In [ ]:
#Suma los valores de ciertas columnas, pero solo para los valores mayores a 100
def sum_greater_10K(this_column):
    """Sum all the values in `this_column` that are greater than 1,000
    """
    filtered_column = this_column[this_column > 1000]
    my_sum = filtered_column.sum()
    return my_sum
    
df_countries[["v1", "v2", "v3", "v4", "v5"]].apply(sum_greater_10K, axis="index"

###**Restar un valor específico a toda la columna**

In [ ]:
df['variablerestada'] = df['variable'] - 1

###**Contar la cantidad de veces que aparece cada ategoría en una variable/columna

In [ ]:
def calculate_review_count(row):
    business_id = row['business_id']
    business_reviews = reviews[reviews['business_id'] == business_id]
    return len(business_reviews)

businesses['review_count'] = businesses.apply(calculate_review_count, axis=1)

##**Análisis de texto**

###**Filtrar info**

You can filter a DataFrame with multiple conditions by using the & symbol (similar to when writing conditional if statements)

In [ ]:
#Dejame ver solo los de la categoría tal, cuyo valor en otra columna sea mayor a 0
df[(df.categoricalvariable == category) & (df.numericvariable > 0)]

In [ ]:
#Calcula los percentiles y dejame los valores del medio y solo los de la categoría tal
#Organizame los valores por otra variablex
quantiles = df["numericvariable"].quantile(0.9)
df[
    (df.numericvariable > quantiles) & (categoricalvariable == category)
].sort_values(by="variablex", ascending=False).head(5)

###**Búsqueda de carácteres o palabras**

For categorical data we first retrieve all the unique values with drop_duplicates() and then add the str.count() string method immediately after that.

In [ ]:
#Quite los dupicados y dígame para las categorías únicas, cuantas "-" tienen
df["commodity_transaction"].drop_duplicates().str.count("-")

###**Tabla de frecuencia de un texto por cantidad de varialbes que tienen la misma cantidad de la variable**

In [ ]:
#Digame cuantos carácteres tienen cada cantidad de ese carácter
df["commodity_transaction"].drop_duplicates().str.count("-").value_counts()

###**Tabla de frecuencias**

###**Imprimir todas las categorías que cumplan con una condición**

In [ ]:
#Imprimame todas las categorías que tengan cero "-"
df["variable"][df["variable"].str.count("-")==0].drop_duplicates()

#**Crear nueva información dentro del DataFrame**

In [ ]:
#You can easily create a frequency table of the ages present in the dataset with 
#the .value_counts() method, and report only the 10 most common: 
df["categoric/ordinalvariable"].value_counts().head(10)

###**Nueva variable resultado de una operación**

In [ ]:
#create a new column with the xname of the symbol and full with "X"
df["xname"] = "x"

#Crear una nueva columna con los nombres de cada archivo es últi para unir posteriormente los dataframes
df1["xname"] = "df1"
df2["xname"] = "df2"

Use the sum() method, which will help us with finding the total production for each row. To sum horizontally (row total, across columns), we use sum(axis="columns"), and to sum vertically (column total, across rows), use sum(axis="index") or simply sum().

In [ ]:
# Here we use the .sum() method. axis="columns" means sum horizontally, not vertically (the default)
df["variabletotal"] = df_countries[["v1", "v2", "v3", "v3", "v4"]].sum(axis="columns")

###**Manipular filas**

In [ ]:
#Correr la información una fila hacia arriba o hacia abajo
#Hacia arriba
df["variable"].head(4).shift(-1)

#Hacia abajo
df["variable"].head(4).shift(1)

**Original**

Date | data
--- | ---
2014-07-01 | 63.486
2014-07-02 | 62.935
2014-07-07 | 61.430
2014-07-08 | 61.348
Name: High, dtype: float64

**Hacia arriba**

Date | data
--- | ---
2014-07-01 | 62.935
2014-07-03 | 61.430
2014-07-07 | 61.348
2014-07-08 | NaN
Name: High, dtype: float64

**Hacia abajo**

Date | data
--- | ---
2014-07-01 | NaN
2014-07-02 | 63.486
2014-07-03 | 62.935
2014-07-08 | 61.430
Name: High, dtype: float64

In [ ]:
#Crear una nueva columna con resultados de una operación
df["nuevavariable"] = (df["variable1"] / df["variable2"]) - 1.0

### **Cruzar datos de dos bases**

In [ ]:
#Taer el nombre de un barrio según su ubicación geográfica
with open('us-state-shapes.json') as f: states = json.load(f)

def get_state_name(row): if not row['latitude'] or not row['longitude']: return None point = Point(row['longitude'], row['latitude']) for state in states['features']: polygon = shape(state['geometry']) if polygon.contains(point): return state['properties']['NAME']

businesses['state'] = businesses.apply(get_state_name, axis=1)

#**Crear nuevos DataFrame**

###**Unir dataframes**

In [ ]:
#Stitch all the dataframes together with the pd.concat() function
stitchdata = pd.concat([df1, df2])

###**Fusionar dataframes por una categoría**

In [ ]:
merged_df = pd.merge(df1, df2, on="category", suffixes=["datadf1", "datadf2"])
merged_df.head()

####**Merged en detalle**

Arguably the most common way of merging DataFrames is using a **left join**, that graphically looks like this:
~~~python
pd.merge(L, R, on="number_plate", how="left")
~~~

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>number_plate</th>      <th>has_tickets</th>      <th>owners_name</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>IBV2750</td>      <td>True</td>      <td>NaN</td>    </tr>    <tr>      <th>1</th>      <td>EUS687</td>      <td>False</td>      <td>Jenny Liu</td>    </tr>    <tr>      <th>2</th>      <td>AYE7756</td>      <td>True</td>      <td>NaN</td>    </tr>  </tbody></table>

**Left join**

Arguably the most common way of merging DataFrames is using a **left join**, that graphically looks like this:
~~~python
pd.merge(L, R, on="number_plate", how="left")
~~~

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>number_plate</th>      <th>has_tickets</th>      <th>owners_name</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>IBV2750</td>      <td>True</td>      <td>NaN</td>    </tr>    <tr>      <th>1</th>      <td>EUS687</td>      <td>False</td>      <td>Jenny Liu</td>    </tr>    <tr>      <th>2</th>      <td>AYE7756</td>      <td>True</td>      <td>NaN</td>    </tr>  </tbody></table>

Here we took all the elements of the `left` DataFrame and tried to find a match in the `right` DataFrame for each one of them. Then we reported all the elements of the `left` DataFrame regardless of whether we did find a match or not. In this case, the only car that had a match was `EUS687` and hence it is the only one that has an associated `owners_name` in the result.

**Right join**

This is exactly the same as the left join, with the difference that we report all the elements of the `right` DataFrame instead of those of the `left` DataFrame:

~~~python
pd.merge(L, R, on="number_plate", how="right")
~~~

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>number_plate</th>      <th>has_tickets</th>      <th>owners_name</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>6TRJ244</td>      <td>NaN</td>      <td>Michael Holmes</td>    </tr>    <tr>      <th>1</th>      <td>EUS687</td>      <td>False</td>      <td>Jenny Liu</td>    </tr>    <tr>      <th>2</th>      <td>532484</td>      <td>NaN</td>      <td>Geoffrey Frank</td>    </tr>  </tbody></table>

This would be equivalent to `pd.merge(R, L, on="number_plate", how="left")` (notice that we swapped the DataFrames).

**Inner join**

This kind of join only reports those elements that are both in the `right` and the `left` DataFrames:

~~~python
pd.merge(L, R, on="number_plate", how="inner")
~~~

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>number_plate</th>      <th>has_tickets</th>      <th>owners_name</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>EUS687</td>      <td>False</td>      <td>Jenny Liu</td>    </tr>  </tbody></table>

**Full join**

Finally, a **full join** reports all the elements of both DataFrames, including those that had a match and those that did not:

~~~python
pd.merge(L, R, on="number_plate", how="outer")
~~~

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>number_plate</th>      <th>has_tickets</th>      <th>owners_name</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>IBV2750</td>      <td>True</td>      <td>NaN</td>    </tr>    <tr>      <th>1</th>      <td>EUS687</td>      <td>False</td>      <td>Jenny Liu</td>    </tr>    <tr>      <th>2</th>      <td>AYE7756</td>      <td>True</td>      <td>NaN</td>    </tr>    <tr>      <th>3</th>      <td>6TRJ244</td>      <td>NaN</td>      <td>Michael Holmes</td>    </tr>    <tr>      <th>4</th>      <td>532484</td>      <td>NaN</td>      <td>Geoffrey Frank</td>    </tr>  </tbody></table>

Keep in mind that the keyword for a full join in `pandas` is not ~`full`~ but `outer`. This is because "full join" is a shortened form of "full outer join".

For more go to Week 3 case.data_cleaning_basics.coding

###**Extraer información por una categoría**

In [ ]:
#Saqueme todas las filas que contengan una categoría específica en una variable particular
df[df["variable"] == "categoría"]
df.head()

###**Extraer información por una condición**

In [ ]:
#Saqueme todas las filas que contengan una palabra específica en una variable particular
dfextraid=df["variable"][df["variable"].str.contains("palabrade interes")].drop_duplicates()

###**Crear nuevas tablas con datos espefíficos**

In [ ]:
# Filtering the DataFrames
nuevatabla = df[df["variablecategorica"] == "Categoría"]

# Getting rid of unnecesary columns
nuevatabla = nuevatabla.drop(columns=["Columnaborrar1", "Columnaborrar2"])

###**Tablas dinámicas**

Se tiene una variable (columna) con varias categorías con otra información asociada

ubicación | cat | data1 
--- | --- | --- 
1 | blue | 63.48  
1 | green | 62.93  
2 | aqua | 61.43  
2 | blue | 61.34 

Y quiero crear una pivot para volver colmnas la variable cat

ubicación | blue | green | aqua
--- | --- | --- | ---   
1 |  63.48 |62.93 | nan
2 | 61.34 | nan | 61.43

The first thing we do is to turn the values in the commodity transaction column into our new column names and keep only the quantity column as the new values. We define the keep_values list to include only the values that we are interested in converting into columns:

In [ ]:
keep_values =  [
        "Electricity - Gross demand",
        "Electricity - Gross production",
        "Electricity - imports",
        "Electricity - exports",
        "Electricity - total hydro production",
        "Electricity - total wind production",
        "Electricity - total solar production",
        "Electricity - total geothermal production",
        "Electricity - total tide, wave production",
]

# Filtering to keep only electricity energies
df_filtered = df[df["commodity_transaction"].isin(keep_values)]

df_countries = pd.pivot_table(
    df_filtered,
    values="quantity",
    index=["country_or_area", "year"],
    columns="commodity_transaction",
)

df_countries

#For more case.pandas methods Week1

In [ ]:
nd index

Get a DataFrame with only the categoricalvariable category1 and category2 values kept numeric variablex, and as columns and indexed by another categorical variablec

In [ ]:
newpivot = pd.pivot_table(
    df, values="variablex", index=["variablec"], columns="categoricalvariable",
).reset_index()[["variablec", category1, category2]]

newpivot

#**Exploratory Data Analysis - EDA**

##**Descriptivos**

###**Medidas de tendencia central**

In [ ]:
#Sacar la media de una columna 
df["nombredelacolumna"].mean()

In [ ]:
#Sacar la mediana de una columna 
df["nombredelacolumna"].median()

In [ ]:
#Sacar la moda de una columna 
df["nombredelacolumna"].mode()

In [ ]:
#Sacar dato de la media por agrupación de información categórica de otra columna
df[["categorias","datos"]].groupby("categorías").mean()
#o
#Sacar dato media para varias categorias
df.groupby(['categorias'])["datos"].mean()

In [ ]:
#Crear información descriptiva a partir de la información agrupada
medias_agrupadas = df[["variablecategorica1","datos"]].groupby("variablecategorica1").mean()

#Cambiar normbre a las categorías
mediacategoría1v1 = (medias_agrupadas.loc["categoria1variable1"])[0]
mediacategoria2v1 = (medias_agrupadas.loc["categoria2variable1"])[0]

#Sacar el porcentaje que representa la categoría 2
percent = (mediacategoría1v1-mediacategoria2v1)/mediacategoria2v1 

#Imprimir un texto con los resultados ({:.2f} pide el resultado con dos decimales)
#llamando la función .format(percent*100)) al final.

print("En promedio la categoría 2 representa el {:.2f}% de los datos".format(percent*100))

In [ ]:
#Imprimir las medidas de tendencia central de los datos para una categoría específica de la varcat1
mean = df[df["varcat1"] == "categ1"]["datos"].mean()
median = df[df["varcat1"] == "categ1"]["datos"].median()
mode = df[df["varcat1"] == "categ1"]["datos"].mode()
mode = mode.values[0]

print(
    "The mean, median and mode are: {:.2f}, {:.2f}, {}.".format(
        mean, median, mode
    )
)

In [ ]:
# sacar la media de los datos para una categoría específica de la varcat1
datosdelavarcat1 = df[df["varcat1"] == "categoria1varcat1"]["datos"]
media = datosdelavarcat1.mean()
desvest = datosdelavarcat1.std()

print("Mean: {:.2f}\nStd: {:.2f}\n".format(media, desvest))

In [ ]:
#Mostrar media, DS, min, max & quartiles organizados por categorías de una variable
variablecategorica_datos = df[["datos", "variablecategorica"]].groupby("variablecategorica")
variablecategorica_datos.describe()
#o
df.groupby(['variablecategorica'])["datos"].describe()

###**Dispersión y cuartiles**

In [ ]:
#imprimir minimos y máximos
print(df["variable"].min())
print(df["variable"].max())

In [ ]:
#Sacar mínimo, máximo y mostrar el rango con agrupación por categorías
min = df[df["variable1"] == "categoria1v1"]["datos"].min()
max = df[df["variable1"] == "categoria1v1"]["datos"].max()
rnge = max - min
print("El rango de los datos agrupados por la variable 1 va desde: [${:.2f} , ${:.2f}]".format(min, max))

In [ ]:
#desvest
df["nombredelacolumna"].std()

In [ ]:
# Interquartile range
nombredatos = df[df["variable1"] == "categoria1v1"]["datos"]
iqr = nombredatos.quantile(q=0.75) - nombredatos.quantile(q=0.25)
print(
    "The nombredatos for the middle 50% of variable1 range from ${:.2f} to ${:.2f}.\n\nThis is an interquartile range of ${:.2f}.".format(
        nombredatos.quantile(q=0.25), nombredatos.quantile(q=0.75), iqr
    )
)

In [ ]:
### Percentiles
perc0 = df["variable"].quantile(0)
perc25 = df["variable"].quantile(0.25)
perc50 = df["variable"].quantile(0.50)
perc75 = df["variable"].quantile(0.75)
perc100 = df["variable"].quantile(1)

print(per0)
print(per25)
print(per50)
print(per75)
print(per100)

###**Porcentajes de variables categóricas cruzadas**

In [ ]:
# Probabilidad de que siendo una categoría específica para la variable categorica 1, sea también una categoría de la variable cateogirca 2

#Cuente los regristros de la categoría especifica vcat1 que se tengan en la variablecategorica2
contarregistroscruzados = df[df["variablecategorica1"] == "categoriaespecifica"]["variablecategorica2"].value_counts()
#de los registros cruzados, digame cuantos con de la categoría x en la vcat2, y dividalo por el total de registros
p = contarregistroscruzados["categoriaxvcat2"] / (contarregistroscruzados.sum())
print(p * 100)

In [ ]:
# Probabilidad de que, entre todos los datos, ser de una categoría específica para la variablecat1 y una categoría de la variablecat2

#Cuente los regristros de la categoría especifica vcat1 que se tengan en la variablecategorica2
contarregistroscruzados = df[df["variablecategorica1"] == "categoriaespecifica"]["variablecategorica2"].value_counts()

#tome esos registros y dividalos por el tamaño total de la muestra contando todas las filas
p = contarregistroscruzados["variablecategorica1"]/df.shape[0]

print("{:.2f}".format(p * 100))

##**Supuestos**

###**Área bajo la curva en una distribución normal**

An ideal normal distribution
* Approximately 68% of samples in a normal distribution fall within one standard deviation of the mean
* Approximately 95% of samples fall within two standard deviations of the mean
* Approximately 99.7% of samples fall within three standard deviations of the mean

It is common practice to refer to a data point's number of standard deviations from the mean as its **$z$-score**

$$z-score = (x - mean) / desvest$$

In [ ]:
print("One std above the mean: {:.1f}".format(media + desvest))
# Probability of data have a value>x assuming it have a normal distribution
#transformar a z
P = 0.68 / 2 + 0.5
print("{:.2f}".format(P))
print("P > 37 = {:.2f} ".format((1 - P) * 100))

# El 95% de las observaciónes están a 2 desvest de la media
lower_lim = media - 2 * desvest
upper_lim = media + 2 * desvest

print("El 95% de los datos es < {:.2f} y > {:.2f}".format(lower_lim, upper_lim))

###**Normalidad**

In [ ]:

# Normalidad de los residuos Shapiro-Wilk test
shapiro_test = stats.shapiro(df.variable)
print(f"Variable name: {shapiro_test}", p-value = {p_value}")

In [ ]:
# Normalidad de los residuos D'Agostino's K-squared test
k2, p_value = stats.normaltest(df.variable)
print(f"Variable name: Estadístico = {k2}, p-value = {p_value}")

###**Transformación a log natural**

In [ ]:
# Transformación logarítmica de los datos
fig, ax = plt.subplots(nrows=1, ncols=1, figsize=(6, 4))

sm.qqplot(
    np.log(df.variable),
    fit   = True,
    line  = 'q',
    alpha = 0.4,
    lw    = 2,
    ax    = ax
)
ax.set_title('Gráfico Q-Q log(height)', fontsize = 13)
ax.tick_params(labelsize = 7)


shapiro_test = stats.shapiro(np.log(df.variable))
print(f"Variable name: {shapiro_test}")

###**Homocedasticidad**
Pendiente

#**Gráficos**

##**Histogramas**

###**Visualizar su distribución simple**

In [ ]:
#Histograma simple
df["varaible"].plot.hist(title="varialbe")

In [ ]:
# Gráfico distribución variables

fig, axs = plt.subplots(nrows=1, ncols=2, figsize=(10, 4))

axs[0].hist(x=df.nombrevariable, bins=20, color="#3182bd", alpha=0.5)
axs[0].plot(df.nombrevariable, np.full_like(df.nombrevariable, -0.01), '|k', markeredgewidth=1)
axs[0].set_title('Distribución nombrevariable')
axs[0].set_xlabel('nombrevariable')
axs[0].set_ylabel('counts')

plt.tight_layout();

In [ ]:
#Histograma

dataforhistogram = df['variable'].plot.hist()

hvm.set_title("Title")
hvm.set_xlabel("unidades")

plt.plot()

###**Distribución con categorías de otra variable**

In [ ]:
#Using seaborn, we can create box plots in which the data are grouped by a second column
sns.boxplot(x = "categoricalvariable", y='numericalvariable', data = listings)
plt.title("Boxplot of numervical vs. categorical")

##**Comparación de variables**

###**Scatter plot**

Al tener una tabla con los datos a comparar en paralelo

In [ ]:
plt.scatter(x = merged_df["variable1"], y = merged_df["variable2"]) # The plot
plt.title("Title") # Adding a title
plt.xlabel("variable1") # Adding axis labels
plt.ylabel("variable2")

In [ ]:
#Crear un scatter plot con  Plotly Express para ver datos al pasar sobre un punto de la gráfica
px.scatter(df, x="variablenumerica1", y="variablenumerica2", color="Variablecategorica1")
#Para ver aún más infomación sobre un punto de la gráfica
px.scatter(df,
           x="variablenumerica1",
           y="variablenumerica2",
           color="Variablecategorica1",
           hover_data=['Variablecategorica2', 'Variablecategorica2', 'Variablecategorica3', 'Variablecategorica4'])

###**Boxplot**

In [ ]:
sns.boxplot(x="categoricalvariable", y="numericvariable", data=df)
plt.xticks(rotation=90)
#Or
fig, ax = plt.subplots(figsize=(15,6))
sns.boxplot(x="categoricalvariable", y="numericvariable", data=df, ax=ax)
plt.xticks(rotation=90)

También se puede sacar in strip plot

In [ ]:
fig, ax = plt.subplots(figsize=(15,6))
sns.stripplot(x="Description", y="Value", data=energy_df, ax=ax)
plt.xticks(rotation=90)



![stripplot](https://seaborn.pydata.org/_images/seaborn-stripplot-3.png)

##**Density plots**

In [ ]:
#Crea un plot para cada variable categórica
for newnameplot in neigh_to_look:
data_plot = df[df['categoricalvariable']]
sns.kdeplot(data=data_plot,x='variable1', hue='variable2', shade = True, label="variable2")
plt.title("variable2")
plt.show()

In [ ]:
#Crea un plot para categorías específicas
listadecategorias = ['cat1','cat2','c3']

for newnameplot in listadecategorias:
    data_plot = df[df['categoricalvariable'] == newnameplot]
    sns.kdeplot(data=data_plot,x='variable1', hue='variable2', shade = True, label="variable2")
    plt.title("variable2 in " + newnameplot)
    plt.show()

    #La línea  plt.title("variable2 in " + newnameplot) personaliza el nombre 
    #de la gráfica dependiendo de la categoría

###**Gráfico de disepersión scatterplot**
Verificar que haya una relación visible

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(6,4))
ax.scatter(x=df.bmi, y=df.charges, alpha= 0.8)
ax.set_xlabel('variable1')
ax.set_ylabel('variable2');

###**Gradiente de colores para tabla de correlación**

In [ ]:
#Sacar matriz de correlación con un gradiente de colores
corr = central.corr()
corr.style.background_gradient(cmap="coolwarm").set_precision(2)

 #### [**Choosing Colormaps in Matplotlib**](https://matplotlib.org/stable/tutorials/colors/colormaps.html/).



For the Diverging maps, we want to have monotonically increasing  values up to a maximum, which should be close to , followed by monotonically decreasing  values. We are looking for approximately equal minimum  values at opposite ends of the colormap. By these measures, BrBG and RdBu are good options. coolwarm is a good option, but it doesn't span a wide range of  values (see grayscale section below).

![Python logo](https://matplotlib.org/stable/_images/sphx_glr_colormaps_004_2_0x.png)

In [ ]:
#Esto no es un código, es un separador.

In [ ]:
#Pendiente

##**Series de tiempo**

In [ ]:
#Hacer que la tabla sea indexada por fecha
df.index= df.set_index('fecha') 
#Asegurarse que fecha tenga el formato fecha
df.index = pd.to_datetime(df.index)

In [ ]:
#Plot one series by categorical variable
df.groupby("variablecategorica1")["variablecontinua"].plot(legend=True,
                                         title="Titulografica",
                                         figsize=(15,6)
                                        )

<div>
<img src="https://natmeurer.com/content/images/2019/11/big.png" width="500"/>
</div>

También se puede usar

In [ ]:
# Filtering the DataFrame
timeseriesdf = df[df["Categoryvariable"] == "Category"].copy()

plt.figure(figsize=(15, 3)) # To make it larger
plt.plot(timeseriesdf["Date"], timeseriesdf["variable"]) # The order is plt.plot(x,y)
plt.title("Title")
plt.xlabel("X")
plt.ylabel("Y")

In [ ]:
#We can even make a plot of percentage variations

plt.figure(figsize=(15, 3)) # To make it larger
plt.plot(timeseriesdf["Date"], timeseriesdf["variable"].pct_change()) # The order is plt.plot(x,y)
plt.title("Title")
plt.xlabel("X")
plt.ylabel("Y")

##**Heat maps**

1. first create a pivot table as usual

In [ ]:
#Saca los datos de la categoría excogida, po meses en y años en x
heatmapdf = df[df["Variablecategorica"] == "Categorica"]
pivoted_df = pd.pivot_table(data=generate_df, index="MM", columns="YYYY", values="Value")
pivoted_df

2. Now it's simply a matter of using sns.heatmap(). You can customize the plot (like setting its size and adding a title and axis labels) using matplotlib just as with the previous plots, because seaborn is built on top of matplotlib:

In [ ]:
plt.figure(figsize=(15, 3)) # We can set the size using matplotlib
sns.heatmap(pivoted_df, cmap="coolwarm") # cmap defines the color palette

Result:

![Heatmap](https://i.stack.imgur.com/dg0Nx.png)

##**Datos geográficos**

####**Definir Ubicación geográfica**
with open('us-state-shapes.json') as f:
    states = json.load(f)
    
def get_state_name(row):
    if not row['latitude'] or not row['longitude']:
        return None
    point = Point(row['longitude'], row['latitude'])
    for state in states['features']:
        polygon = shape(state['geometry'])
        if polygon.contains(point):
            return state['properties']['NAME']
        
businesses['state'] = businesses.apply(get_state_name, axis=1)

We must find the county and state each business belongs in and add this to the table. We use the geoJSON files that contain the geoshapes of each state and county in the US. We will be using the shapely library to figure out whether a point is present inside the shape that represents the border of each state/county:

In [ ]:
with open('us-state-shapes.json') as f:
    states = json.load(f)
    
def get_state_name(row):
    if not row['latitude'] or not row['longitude']:
        return None
    point = Point(row['longitude'], row['latitude'])
    for state in states['features']:
        polygon = shape(state['geometry'])
        if polygon.contains(point):
            return state['properties']['NAME']
        
businesses['state'] = businesses.apply(get_state_name, axis=1)

Now find the county of each business and add them to the table.

In [ ]:
%%script false --no-raise-error # Skip cell execution, remove this line to execute.
# Given the size of the file us-county-shapes.json, it is recommended to skip executing this cell during lecture time.
with open('us-county-shapes.json') as f:
    counties = json.load(f)
    
def get_county_name(row):
    if not row['latitude'] or not row['longitude']:
        return None
    point = Point(row['longitude'], row['latitude'])
    for county in counties['features']:
        polygon = shape(county['geometry'])
        if polygon.contains(point):
            return county['properties']['NAME']
        
businesses['county'] = businesses.apply(get_county_name, axis=1)

###**Create an interactive map**

In [ ]:
#Create an interactive map
folium_map = folium.Map()
folium_map

In [ ]:
#set that as the center of our map with coordinades of new york
ny_coords = [40.738, -73.98] # lat, long
folium_map = folium.Map(location=ny_coords)
folium_map

In [ ]:
#set a default zoom that gives a closer view of the city
ny_coords = [40.738, -73.98] # lat, long
folium_map = folium.Map(location=ny_coords, zoom_start=13)
folium_map

In [ ]:
#change the title (the default is OpenStreetMap)
ny_coords = [40.738, -73.98] # lat, long
folium_map = folium.Map(location=ny_coords, zoom_start=13, tiles="OpenStreetMap")
folium_map

There are other styles available for the tiles argument:
```
Stamen Toner 
Stamen Terrain
Stamen Watercolor
CartoDB positron
CartoDB dark_matter
```

###**Heat map**

1. Create the canvas

In [ ]:
#1Create the canvas
folium_hmap = folium.Map(location=ny_coords, zoom_start=13, tiles="OpenStreetMap")

2. Prepare the data. folium needs a list in which each element contains the latitude, the longitude, and the price of the listing. We can use Python's handy zip() function, which takes two iterables and matches their elements one-by-one pairwise.

**Note**: In order to inspect the elements inside a zip object, we first need to convert it into a list.

In [ ]:
my_zip = zip(df['latitude'], df['longitude'], df['price'])
list_of_my_zip = list(my_zip)
list_of_my_zip[0:15]

3. The next step is to create a HeatMap layer with the data

In [ ]:
hm_layer = HeatMap(list_of_my_zip,
                   # These are parameters that we tweak manually to adjust color
                   # See folium docs for more information
                   min_opacity=0.2,
                   radius=8,
                   blur=6, 
                 )

4. We can finally add this layer to our map and see the result:

In [ ]:
folium_hmap.add_child(hm_layer)
folium_hmap

5. Let's save the map as HTML, so that we can share it later with people who don't have Jupyter in their computers. As HTML files

In [ ]:
folium_hmap.save("hmap.html")

###**Mark points in the map by catogory**

In [ ]:
#Determinar la ubicación por categoría
mapcategory1 = df.loc[ df['variable']==category1, ["latitude","longitude" ] ]
mapcategori2 = df.loc[ df['variable']==category2, ["latitude","longitude" ] ]
#Crear lienzo
folium_map = folium.Map(location=[40.738, -73.98],
                        zoom_start=13,
                        tiles="OpenStreetMap")
#Poner marcas en el mapa
for i in range(1000):
    marker = folium.CircleMarker(location=[mapcategory1["latitude"].iloc[i],mapcategory1["longitude"].iloc[i]],radius=5,color="blue",fill=True)
    marker.add_to(folium_map)

for i in range(1000):
    marker = folium.CircleMarker(location=[mapcategori2["latitude"].iloc[i],mapcategori2["longitude"].iloc[i]],radius=5,color="red",fill=True)
    marker.add_to(folium_map)    
    
folium_map

#**Estadistica correlacional**

###**Correlación simple**

Use pandas and the .corr() method to compute a correlation matrix to compare correlations between variables


```python
DataFrame.corr(method='pearson', min_periods=1)[source]
```

Compute pairwise correlation of columns, excluding NA/null values.

*Parameters method*
* *{‘pearson’, ‘kendall’, ‘spearman’}*

*min_periodsint*
* Optional Minimum number of observations required per pair of columns to have a valid result. Currently only available for Pearson and Spearman correlation.

In [ ]:
##Correlación simple that gives you a correlation matrix
df[["varialble1", "variable2"]].corr()

In [ ]:
#This would be the correlation matrix for all the variables in the DataFrame
corrm = df.corr()
corrm

In [ ]:
#Cálculo de correlación con Pandas
print('Correlación Pearson: ', df['variablecontinua1'].corr(df['variablecontinua2'], method='pearson'))
print('Correlación spearman: ', df['variablecontinua1'].corr(df['variablecontinua2'], method='spearman'))
print('Correlación kendall: ', df['variablecontinua1'].corr(df['variablecontinua2'], method='kendall'))

La implementación de Scypy.stats sí permite calcular la significancia estadística además del coeficiente de correlación. La función stats.pearsonr(), devuelve un error si alguna de las observaciones contienen valores NA/null. Las funciones stats.spearmanr() y stats.kendalltau() sí permiten excluirlos de forma automática si se indica nan_policy='omit'.

In [ ]:
# Cálculo de correlación y significancia con Scipy
r, p = stats.pearsonr(df['variablecontinua1'], df['variablecontinua2'])
print(f"Correlación Pearson: r={r}, p-value={p}")

r, p = stats.spearmanr(df['variablecontinua1'], df['variablecontinua2'])
print(f"Correlación Spearman: r={r}, p-value={p}")

r, p = stats.kendalltau(df['variablecontinua1'], df['variablecontinua2'])
print(f"Correlación Kendalltau: r={r}, p-value={p}")

###**Correlación de todas las variables de data frame**

Print the columns which are positively correlated with price, 
from most positive to least positive. 
Similarly, print the columns which are negatively correlated, 
from most negative to least negative

In [ ]:
#Print the columns which are correlated with price, 
#from most positive to least positive. 
#and from most negative to least negative
pos_cor = corrm['price'] >0
corrm['price'][pos_cor].sort_values(ascending = False).to_frame()

neg_cor = corrm['price'] <0
corrm['price'][neg_cor].sort_values(ascending = True).to_frame()

NameError: ignored

###**Correlación para datos agrupados por categorías**

In [ ]:
#Sacar la correlación entre las variables para una categoría específica de la varcat1
varcat1 = df[df["varcat1"] == "categoria1varcat1"]

central = varcat1[
    (varcat1["datos"] >= df.quantile(q=0.25))
    & (varcat1["datos"] <= df.quantile(q=0.75))
]

o

In [ ]:
#Let's find the correlation between price and parking for each neighborhood
cbn = df.groupby("neighbourhood")[["price", "parking"]].corr()
cbn

#Let's filter out redundant information

cbn = cbn.reset_index()
cbn = cbn.drop(columns=["parking"])
cbn.columns = ["neighbourhood", "variable", "r_parking_price"]
cbn = cbn[cbn["variable"]=="parking"]
cbn = cbn.drop(columns=["variable"])
cbn

In [ ]:
"""Find out how many neighborhoods present a strongly negative, 
mildly negative, mildly positive, and strongly positive correlation 
between price and parking. Specifically, 
we want to know how many neighborhoods show a correlation between 
-1 and -0.5, between -0.5 and 0, between 0 and 0.5 and between 0.5 and 1."""

cbn["r_parking_price"].plot.hist(
    bins=[-1, -0.5, 0, 0.5, 1],
    title="Histogram of neighborhood-level correlations for price and parking"
    )

# **HTML**

BeautifulSoup library

**Basics of Hyper Text Markup Language**

An HTML document is made up of a series of tags. These tags instruct a browser on how to display content to the user. Different tags will cause different output styles to be displayed.

Let's begin by discussing a simple HTML formatted string, custom_html_doc.

While there are a wealth of tags available in HTML, the above example highlights the fundamentals we need to get started with the language. The four vital tags of any HTML document inlcude:

< html > Instructs the browser that your web page is in HTML format.

< head > This is information that can be used by external sources (such as search engines). Holds webpage metadata.

< title > Viewers see the title in the browser toolbar, when the page is added to favorites, and in search engine results.

< body > Defines the body block, which contains the content of the page, including text and images.
Other structurally useful tags include:

< p > Defines a paragraph block which primarily contains text to be displayed to the user

< a > Defines a hyperlink

< h1 > Defines an important header

< h2 > Define a less important header

< br > Define a line break

###**Ver código de una página**

Para ver el código HTLM de una página Clic derecho ver código fuente, o ctrl + U o F12

In [ ]:
custom_html_doc = """
<html>
<head>
<title>HTML Page Title</title>
</head>
<h1>Head: Important Header: Global News</h1>
<br>
<h2>Head: Less Imporant Header: Global News</h2>
<body>
<p class="title"><b>Paragraph: Financial news</b></p>
<p class="story"> Stocks had a volatile week, where
<a href="https://finance.yahoo.com/quote/duk/" target="_blank" class="stock" id="link1">DUK</a>,
<a href="https://finance.yahoo.com/quote/d/" target="_blank" class="stock" id="link2">D</a>,
<a href="https://finance.yahoo.com/quote/exc/" target="_blank" class="stock" id="link3">EXC</a>,
<a href="https://finance.yahoo.com/quote/nee/" target="_blank" class="etf" id="link4">NEE</a>,
<a href="https://finance.yahoo.com/quote/so/" target="_blank" class="stock" id="link5">SO</a>,
were all making headlines.</p>
<p class="details">End of HTML document.</p>
"""

We can view how custom_html_doc will render using the method HTML():

In [ ]:
# View the HTML as it would appear by a web browser
HTML(custom_html_doc)

The following HTML document was found with all of its end tags missing. Starting from top to bottom, determine the correct order in which end tags should be added to eliminate the issues with the document.
```python
<h1>This is a Heading
<p>This is a paragraph.
<br>
<p>Another paragraph
<br>

```
(c) < /h1 >, < /p >, < /p >

#**Dash**

In [ ]:
from IPython.core.display import clear_output
#Ver la terminal más limpia
export PS1='$'
#Ver la ubicación donde estoy
pwd
#ver qué se esta corriendo
ps ux
#Ver qué estan corriendo todos los uduarios
ps aux
#Ver qué estan corriendo específicamente que tenga la palabra hello
ps ux | grep Hello
#Parar lo que se está corriendo códico 000
Kill 000
#Limpiar la terminal
clear_output
# ir a algun lado
cd lugar




# **Comandos de texto básicos**

## Los numerales
### indican el tamaño
####  del título y 
#####  son usados por Google Colab
######   para crear su tabla de contenido.

Se puede usar texto con estilo de código en una línea: `!python --version`

O como un bloque y con estilo de un lenguaje como _Python_:
```python
print('Hello World!')
```


Incluso en negrilla: **`print('Hello World!)`**

> Se puede definir bloques de texto en formato de cita o anotación.

Se pueden definir listas sin orden:
*  Usando asteriscos
-  y líneas.  

También se pueden definir listas ordenadas
1. Usando los números...
2. que correspondan...
3. con cada elemento.
  1. Incluso se pueden
  2. hacer listas anidadas
    * Usando tanto listas ordenadas como no ordenadas, y
    * ...usando la sangría o _indentación_ (dejar espacios o tabulaciones al inicio de la línea).

También se pueden agregar enlaces a [sitios web](https://www.python.org/).

Y agregar imágenes a partir de una _URL_:
  
![Python logo](https://www.python.org/static/community_logos/python-logo-master-v3-TM.png)


<div>
<img src="https://natmeurer.com/content/images/2019/11/big.png" width="500"/>
</div>